<!-- $title - Back Office - User - Orders -->
<!-- $isactive-backoffice class="active" -->
<!-- $body-meta class="blank" ng-controller="BackOfficeOrdersController" -->
<!-- @include _header -->

	<nav class="subnav">
		<ul class="container">
			<li class="separator">&nbsp;</li>
			<li class="active">
				<ul class="menu">
					<li>
						<a href="">Users <i class="fa fa-angle-down pad-left"></i></a>
						<ul>
							<li><a href="@path backoffice_dashboard.html">Summary</a></li>
							<li><a href="@path backoffice_orders.html">Orders</a></li>
							<li><a href="@path backoffice_outbalance.html">Outstanding Balance</a></li>
							<li><a href="@path backoffice_users.html">Users</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="separator">&nbsp;</li>
			<li class="active"><a href="#">LegoLass</a></li>

			<li class="right pad"><a href="@path backoffice_user_invoice.html">Invoice</a></li>
			<li class="right pad" ng-class="{active: id=='P'}"><a href="" ng-click="id='P'">Placed Orders</a></li>
			<li class="right pad" ng-class="{active: id=='R'}"><a href="" ng-click="id='R'">Received Orders</a></li>
			<li class="right pad"><a href="@path backoffice_user_profile.html">Profile</a></li>
		</ul>
	</nav>
	

	<section>
		<div class="container">
			<table class="table">
				<thead>
					<tr>
						<th>Alert</th>
						<th>Order</th>
						<th>Status</th>
						<th ng-show="id=='R'">Buyer</th>
						<th ng-show="id=='P'">Seller</th>
						<th class="align-right">Date</th>
						<th class="align-right">Fee</th>
					</tr>	
				</thead>
				<tbody>
				<!-- @todo link to order page -->
					<tr class="hover" ng-class="{'text-warning': item.issue!=''}" ng-repeat="item in bo | orderBy:'-date1' " ng-click="gotoOrderPage(item.order)">
						<td>{{ item.issue }}</td>
						<td>{{ item.order }}</td>
						<td>{{ item.status }}</td>
						<td ng-show="id=='R'">{{ item.user }}</td>
						<td ng-show="id=='P'">{{ item.store }}</td>
						<td class="align-right">{{ item.date1 }}</td>
						<td class="align-right">{{ item.amount | currency }}</td>
					</tr>
				</tbody>
			</table>

			<div class="pagination">
				<ul>
					<li class="page-prev"><a href="">Prev</a></li>
					<li>
						<ul>
							<li><a href="" class="active">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">4</a></li>
							<li><a href="">5</a></li>
							<li><a href="">6</a></li>
							<li><a href="">7</a></li>
						</ul>
					</li>
					<li class="page-next"><a href="">Next</a></li>
				</ul>
			</div>
		</div> <!-- /.container -->
	</section>


<!-- @include _footer -->
