<!-- $title - Back Office - Summary -->
<!-- $isactive-backoffice class="active" -->
<!-- $body-meta class="blank" ng-controller="BackOfficeController" -->
<!-- @include _header -->

	<nav class="subnav">
		<ul class="container">
			<li class="separator">&nbsp;</li>
			<li class="active">
				<ul class="menu">
					<li>
						<a href="">Summary <i class="fa fa-angle-down pad-left"></i></a>
						<ul>
							<li><a href="@path backoffice_dashboard.html">Summary</a></li>
							<li><a href="@path backoffice_orders.html">Orders</a></li>
							<li><a href="@path backoffice_outbalance.html">Outstanding Balance</a></li>
							<li><a href="@path backoffice_users.html">Users</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="separator">&nbsp;</li>
			<li><a href="">Only values for <strong>Invoice</strong> are fixed.</a></li>

			<li class="right pad active"><a href="">2014</i></a>
			<li class="right pad"><a href="">2013</i></a>
			</li>
		</ul>
	</nav>

	<section>
		<div class="full-container">
			<table class="table">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th class="align-right">Jan</th>
						<th class="align-right">Feb</th>
						<th class="align-right">Mar</th>
						<th class="align-right">Apr</th>
						<th class="align-right">May</th>
						<th class="align-right">Jun</th>
						<th class="align-right">Jul</th>
						<th class="align-right">Aug</th>
						<th class="align-right">Sep</th>
						<th class="align-right">Oct</th>
						<th class="align-right">Nov</th>
						<th class="align-right">Dec</th>
					</tr>
				</thead>
				<tbody>
					<tr class="align-right">
						<td>1.0 Sales</td>
						<td ng-repeat="s in sr.list()">{{ sr.fabid(s.id, 'sales1') | currency }}</td>
					</tr>
					<tr class="align-right">
						<td>2.0 Sales</td>
						<td ng-repeat="s in sr.list()">{{ sr.fabid(s.id, 'sales2') | currency }}</td>
					</tr>
					<tr class="em align-right">
						<td>Total Sales</td>
						<td ng-repeat="s in sr.list()">{{ sr.fabid(s.id, 'sales1') + sr.fabid(s.id, 'sales2') | currency }}</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td ng-repeat="s in sr.list()">&nbsp;</td>
					</tr>

					<tr class="align-right">
						<td>1.0 Store Fee</td>
						<td ng-repeat="s in sr.list()">{{ sr.fabid(s.id, 'fee1') | currency }}</td>
					</tr>
					<tr class="align-right">
						<td>2.0 Store Fee</td>
						<td ng-repeat="s in sr.list()">{{ sr.fabid(s.id, 'fee2s') | currency }}</td>
					</tr>
					<tr class="align-right">
						<td>2.0 Design Fee</td>
						<td ng-repeat="s in sr.list()">{{ sr.fabid(s.id, 'fee2d') | currency }}</td>
					</tr>
					<tr class="em align-right">
						<td>Total Fees</td>
						<td ng-repeat="s in sr.list()">{{ sr.fabid(s.id, 'fee1') + sr.fabid(s.id, 'fee2s') + sr.fabid(s.id, 'fee2d') | currency }}</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td ng-repeat="s in sr.list()">&nbsp;</td>
					</tr>

					<tr class="align-right">
						<td>Active Fee Balance</td>
						<td ng-repeat="s in sr.list()">{{ sr.fabid(s.id, 'fee1') | currency }}</td>
					</tr>
					<tr class="align-right">
						<td>Inactive Fee Balance</td>
						<td ng-repeat="s in sr.list()">{{ sr.fabid(s.id, 'fee2s') | currency }}</td>
					</tr>
					<tr class="em align-right">
						<td>Credit Paid</td>
						<td ng-repeat="s in sr.list()">{{ sr.fabid(s.id, 'credit') | currency }}</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td ng-repeat="s in sr.list()">&nbsp;</td>
					</tr>

					<tr class="strong align-right">
						<td>Invoice</td>
						<td ng-repeat="s in sr.list()">{{ sr.fabid(s.id, 'invoice') | currency }}</td>
					</tr>
					<tr class="align-right">
						<td>Received</td>
						<td ng-repeat="s in sr.list()">{{ sr.fabid(s.id, 'received') | currency }}</td>
					</tr>
					<tr class="align-right">
						<td>Outstanding</td>
						<td ng-repeat="s in sr.list()">{{ sr.fabid(s.id, 'invoice') - sr.fabid(s.id, 'received') | currency }}</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td ng-repeat="s in sr.list()">&nbsp;</td>
					</tr>
					<tr class="align-right">
						<td>Paid to Paypal</td>
						<td ng-repeat="s in sr.list()">{{ sr.fabid(s.id, 'paypal') | currency }}</td>
					</tr>
					<tr class="em align-right">
						<td>Net Profit</td>
						<td ng-repeat="s in sr.list()">{{ sr.fabid(s.id, 'received') - sr.fabid(s.id, 'paypal') | currency }}</td>
					</tr>
				</tbody>
			</table>
		
		</div> <!-- /.container -->
	</section>
  
<!-- @include _footer -->
