<!-- $title - Back Office - Orders -->
<!-- $isactive-backoffice class="active" -->
<!-- $body-meta class="blank" ng-controller="BackOfficeOrdersController" -->
<!-- @include _header -->

	<nav class="subnav">
		<ul class="container">
			<li class="separator">&nbsp;</li>
			<li class="active">
				<ul class="menu">
					<li>
						<a href="">Orders <i class="fa fa-angle-down pad-left"></i></a>
						<ul>
							<li><a href="@path backoffice_dashboard.html">Dashboard</a></li>
							<li><a href="@path backoffice_orders.html">Orders</a></li>
							<li><a href="@path backoffice_outbalance.html">Outstanding Balance</a></li>
							<li><a href="@path backoffice_users.html">Users</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="separator">&nbsp;</li>
		</ul>
	</nav>
	
	<section>
		<div class="container">

			<div class="searchbar">
				<i class="fa fa-search"></i> <input ng-model="searchtext" type="text" placeholder="Search by Order ID" />
			</div>

			<table class="table">
				<thead>
					<tr>
						<th>Status</th>
						<th>Order</th>
						<th>Buyer</th>
						<th>Seller</th>
						<th class="align-right">Date</th>
						<th class="align-right">Fee</th>
					</tr>	
				</thead>
				<tbody>
					<tr class="hover text-warning" ng-repeat="item in bo | orderBy:'-date1' | filter:searchtext" ng-click="gotoOrderPage(item.order)">
						<td>{{ item.issue }}</td>
						<td>{{ item.order }}</td>
						<td>{{ item.user }}</td>
						<td>{{ item.store }}</td>
						<td class="align-right">{{ item.date1 }}</td>
						<td class="align-right">{{ item.amount | currency }}</td>
					</tr>
					<tr class="hover" ng-show="searchtext.length<1" ng-repeat="item in bo | orderBy:'date2'" ng-click="gotoOrderPage(item.order)">
						<td>Pending</td>
						<td>{{ item.order }}</td>
						<td>{{ item.user }}</td>
						<td>{{ item.store }}</td>
						<td class="align-right">2/23/14</td>
						<td class="align-right">{{ item.amount | currency }}</td>
					</tr>
				</tbody>
			</table>
		</div> <!-- /.container -->
	</section>

<!-- @include _footer -->
