<!-- $title - Back Office - Users -->
<!-- $isactive-backoffice class="active" -->
<!-- $body-meta class="blank" ng-controller="BackOfficeController" -->
<!-- @include _header -->

	<nav class="subnav">
		<ul class="container">
			<li class="separator">&nbsp;</li>
			<li class="active">
				<ul class="menu">
					<li>
						<a href="">Users <i class="fa fa-angle-down pad-left"></i></a>
						<ul>
							<li><a href="@path backoffice_dashboard.html">Dashboard</a></li>
							<li><a href="@path backoffice_orders.html">Orders</a></li>
							<li><a href="@path backoffice_outbalance.html">Outstanding Balance</a></li>
							<li><a href="@path backoffice_users.html">Users</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="separator">&nbsp;</li>
		</ul>
	</nav>
	
	<section>
		<div class="container">

			<div class="searchbar">
				<i class="fa fa-search"></i> <input ng-model="searchtext" type="text" placeholder="Search by Username" />
			</div>

			<table class="table">
				<thead>
					<tr>
						<th>User</th>
						<th>Store</th>
						<th class="align-right">Last Transaction</th>
						<th class="align-right">Current Earnings</th>
					</tr>	
				</thead>
				<tbody>
					<tr class="hover" ng-repeat="item in bo | orderBy:'user' | filter:searchtext" ng-click="gotoUserPage()">
						<td>{{ item.user }}</td>
						<td>{{ item.store }}</td>
						<td class="align-right">{{ item.date1 }}</td>
						<td class="align-right">{{ item.amount * 10 | currency }}</td>
					</tr>
				</tbody>
			</table>
		</div> <!-- /.container -->
	</section>

<!-- @include _footer -->
