<!-- $title - Back Office - Dashboard -->
<!-- $isactive-backoffice class="active" -->
<!-- $body-meta class="blank" ng-controller="BackOfficeController" -->
<!-- @include _header -->

	<nav class="subnav">
		<ul class="container">
			<li class="separator">&nbsp;</li>
			<li class="active"><a href="@path backoffice_user_profile.html"><i class="fa fa-search"></i></a></li>
			<li class="separator">&nbsp;</li>
			<li class="active">
				<ul class="menu">
					<li>
						<a href="">Dashboard <i class="fa fa-angle-down pad-left"></i></a>
						<ul>
							<li><a href="@path backoffice_dashboard.html">Dashboard</a></li>
							<li><a href="@path backoffice_orders.html">Orders</a></li>
							<li><a href="@path backoffice_outbalance.html">Outstanding Balance</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="separator">&nbsp;</li>
		</ul>
	</nav>

	<div class="container">
		<div class="col-third panelet left">
			<a class="metric" href="#">
				<span>Store Logs</span>
				<h2>8</h2>
			</a>
			<a class="metric" href="#">
				<span>Pending Avatars</span>
				<h2>17</h2>
			</a>
			<a class="metric" href="#">
				<span>Problem Members</span>
				<h2>13</h2>
			</a>
			<a class="metric" href="#">
				<span>Pending Real Photos</span>
				<h2>0</h2>
			</a>
			<a class="metric" href="#">
				<span>Problem Items</span>
				<h2>51</h2>
			</a>
			<a class="metric" href="#">
				<span>Outstanding Balances</span>
				<h2>9</h2>
			</a>
			<a class="metric" href="#">
				<span>Feedback Removal</span>
				<h2>26</h2>
			</a>
		</div>

		<div class="col-twothird">
			<div class="dashboard_fees">
				<h2 class="pad-left-10">Fee Issues</h2>
				<table class="table">
					<tbody>
						<tr class="hover" ng-repeat="item in bo | orderBy:'date1'" ng-click="gotoUserPage()">
							<td>{{ item.user }}</td><td class="text-dull align-right">{{ item.date1 }}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="dashboard_orders">
				<h2 class="pad-left-10">Order Issues</h2>
				<table class="table">
					<tbody>
						<tr class="hover" ng-repeat="item in bo | orderBy:'-date2'" ng-click="gotoOrderPage(item.order)">
							<td class="text-dull">{{ item.issue }}</td>
							<td>{{ item.order }}</td>
							<td>{{ item.user }}</td>
							<td class="align-right">{{ item.amount | currency }}</td>
							<td class="text-dull align-right">{{ item.date2 }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	
	</div> <!-- /.container -->

	<div class="pane left"></div>
  
<!-- @include _footer -->
