<!-- $title - Back Office - Outstanding Balance -->
<!-- $isactive-backoffice class="active" -->
<!-- $body-meta class="blank" ng-controller="BackOfficeController" -->
<!-- @include _header -->

	<nav class="subnav">
		<ul class="container">
			<li class="separator">&nbsp;</li>
			<li class="active">
				<ul class="menu">
					<li>
						<a href="">Outstanding Balance <i class="fa fa-angle-down pad-left"></i></a>
						<ul>
							<li><a href="@path backoffice_dashboard.html">Summary</a></li>
							<li><a href="@path backoffice_orders.html">Orders</a></li>
							<li><a href="@path backoffice_outbalance.html">Outstanding Balance</a></li>
							<li><a href="@path backoffice_users.html">Users</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="separator">&nbsp;</li>

			<li class="right active pad"><a href="">Active <span class="badge badge-clear">11</span></a></li>
			<li class="right"><a href="">Revoked</a></li>
		</ul>
	</nav>

	<section>
		<div class="container">
			<table class="table">
				<thead>
					<tr>
						<!-- @todo mastercheckbox doesn't work in conjunction with count on bottom -->
						<th><input type="checkbox" ng-model="mastercheckbox"></th>
						<th>Seller ID</th>
						<th>Store</th>
						<th>Last Invoice Paid</th>
						<th>Last Invoice Sent</th>
						<th class="align-right">Total Amount Owed</th>
					</tr>	
				</thead>
				
				<tbody>
					<tr class="hover" ng-repeat="item in bo">
						<td><input type="checkbox" ng-model="item.selected" ng-checked="mastercheckbox"></td>
						<td ng-click="gotoUserPage()">{{ item.user }}</td>
						<td>{{ item.store }}</td>
						<td>July 2014 <span class="text-dull">7/27/14</span></td>
						<td>August 2014 <span class="text-dull">8/22/14</span></td>
						<td class="align-right">{{ item.amount | currency }}</td>
					</tr>
				</tbody>
			</table>

			<div class="buttonbar table-footer">
			<strong>{{ selectedItems }} <ng-pluralize count="selectedItems" when="{'one': 'Seller', 'other': 'Sellers'}"></ng-pluralize> Selected</strong>
				<a ng-class="{'btn-disabled': !selectedItems}" class="btn btn-danger right pad" href="#">Revoke Seller Privileges</a>
				<a ng-class="{'btn-disabled': !selectedItems}" class="btn right margin-right-10" href="#">Resend Invoice</a>
			</div>
		
		</div> <!-- /.container -->
	</section>
  
<!-- @include _footer -->
