<!-- $title - Design Contest -->
<!-- $isactive-contest class="active" -->
<!-- $body-meta class="blank" ng-controller="ContestAllController" -->
<!-- @include _header -->

	<nav class="subnav">
		<ul class="container">
			<li><a href="@path contest.html">Approval Process</a></li>
			<li class="active"><a href="@path contests_all.html">Contests</a></li>

			<!-- @todo add link to button -->
			<li class="right"><a class="btn" href="contest_entry_edit.html#/-1">Add Contest</a></li>
		</ul>
	</nav>

	<section>
		<div class="container">
			<table class="table">
				<thead>
					<tr>
						<th>Title</th>
						<th>Announcement Date</th>
						<th class="align-right">First Prize</th>
						<th class="align-right">Second Prize</th>
						<th class="align-right">Third Prize</th>
					</tr>	
				</thead>
				
				<tbody>
					<tr class="hover" ng-repeat="entry in entries" ng-class="{active: selectedContestId==entry.id}" ng-click="editContest(entry.id)">
						<td>{{ getTitle(entry.id) }}</td>
						<td>{{ ui.getDate(entry.announceDate) }}</td>
						<td class="align-right">{{ getPrize(entry.id, 1) | currency }}</td>
						<td class="text-dull align-right">{{ getPrize(entry.id, 2) | currency }}</td>
						<td class="text-dull align-right">{{ getPrize(entry.id, 3) | currency }}</td>
					</tr>
				</tbody>
			</table>

		</div> <!-- /.container -->
	</section>

<!-- @include _footer -->
