<!-- $title - Contest (Edit) -->
<!-- $isactive-contest class="active" -->
<!-- $body-meta flow-prevent-drop class="blank" ng-controller="ContestEntryController" -->
<!-- @include _header -->

<!-- @todo show current status of contest -->

	<nav class="subnav">
		<ul class="container">
			<li class="active"><a href="">{{ newedit }}</a></li>
		</ul>
	</nav>

	<section>
		<div class="container">
			<div class="form-group">
				<label for="contestTitle">Cover Image (900x240)</label>
				
				<div flow-init="{singleFile:true}"
				 flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
					<div class="thumbnail" flow-drop ng-show="!$flow.files.length">
					  <img src="http://www.placehold.it/900x240/EFEFEF/666666&text=drag and drop image" />
					</div>
					<div class="thumbnail" flow-drop ng-show="$flow.files.length">
					  <img flow-img="$flow.files[0]" />
					</div>
					<div>
					  <span class="btn btn-primary" ng-show="!$flow.files.length" flow-btn>Select image</span>
					  <span class="btn btn-info" ng-show="$flow.files.length" flow-btn>Change</span>
					  <span class="btn btn-danger" ng-show="$flow.files.length"
					     ng-click="$flow.cancel()">
					    Remove
					  </span>
					</div>

				</div>

			</div>
			<div class="form-group margin-top">
				<label for="contestTitle">Contest Title</label>
				<input type="text" ng-model="title" id="contestTitle">
			</div>
			<div class="form-group">
				<label for="contestDesc">Description</label>
				<div class="text-angular" text-angular ng-model="desc"></div>
			</div>
			<div class="form-group">
				<div class="form-group col-third">
					<label for="contestPrize">First Place Prize</label>
					<input type="text" ng-model="prize1" id="contestPrize">
				</div>
				<div class="form-group col-third">
					<label for="contestPrize">Second Place Prize</label>
					<input type="text" ng-model="prize2" id="contestPrize">
				</div>
				<div class="form-group col-third">
					<label for="contestPrize">Third Place Prize</label>
					<input type="text" ng-model="prize3" id="contestPrize">
				</div>
			</div>

			<div class="form-group">
				<div class="form-group col-third">
					<div><label for="acceptStartDate">MOC Acceptance Period</label></div>
					<div class="form-group col-half">
						<input type="date" id="acceptStartDate" ng-model="acceptStartDate">
					</div>
					<div class="form-group col-half">
						<input type="date" id="acceptEndDate" ng-model="acceptEndDate">
					</div>
				</div>
				
				<div class="form-group col-third">
					<div><label for="voteStartDate">Voting Period</label></div>
					<div class="form-group col-half">
						<input type="date" id="voteStartDate" ng-model="voteStartDate">
					</div>
					<div class="form-group col-half">
						<input type="date" id="voteEndDate" ng-model="voteEndDate">
					</div>
				</div>
				
				<div class="form-group col-third">
					<label for="announceDate">Announcement Date</label>
					<input type="date" id="announceDate" ng-model="announceDate">
				</div>
			</div>
			
			<div class="buttonbar pad-top">
				<a class="btn" href="@path contests_all.html">Return to Contests</a>

				<a class="btn btn-primary right" href="">
					<span ng-show="id < 0">Add New Contest</span>
					<span ng-show="id >= 0">Update Contest</span>
				</a>
				<!-- <a class="btn right margin-right-10" href="">Preview</a> -->
			</div>

		</div>
	</section>
  
<!-- @include _footer -->
