<!-- $title - Contest Item -->
<!-- $isactive-contest class="active" -->
<!-- $body-meta class="blank" ng-controller="ContestItemController" -->
<!-- @include _header -->

	<nav class="subnav">
		<ul class="container">
			<li class="active"><a href="#">{{ title }}</a></li>
			<li class="small"><a href="{{entry_link}}"><i class="fa fa-folder-o pad-right"></i> {{ entry_title }}</a></li>
			
			<!-- <li class="right" ng-bind-html="button"></li> -->
			<li class="right small text-dull" ng-if="entry_status==0">Contest saved as draft</li>
			<li class="right small text-dull" ng-if="entry_status==1">Contest scheduled to go live on {{ ui.getDate(entry.startDate) }}</li>
			<li class="right small text-dull" ng-if="entry_status==2">Contest accepting MOCs</li>
			<li class="right small text-dull" ng-if="entry_status==3">Contest is receiving votes</li>
			<li class="right small text-dull" ng-if="entry_status==4">Contest has expired</li>
		</ul>
	</nav>

	<section>
		<div class="container">	
			<main>
				
				<img src="{{ui.imageLink(single.id)}}">

				<p>{{ ui.lorem }}</p>

				<h2>Activity Stream</h2>

				<div class="comment" ng-repeat="comment in comments | filter:{type:2} track by $index">
					<ng-include src="'includes/comment.html'"></ng-include>
				</div>
				<div class="comment">
					<div class="comment_wrapper">
						<div class="avatar"><img src="{{ui.avatarLink(3)}}" /></div>
						<div class="content">
							<div>
								<span class="badge right" ng-show="!myComment.isPublic">Private</span>
								<strong>{{ ui.getMyName() }}</strong>
							</div>
							<div>
								<textarea placeholder="{{getMsg()}}" ng-model="myComment.content"></textarea>	
							</div>
							<a class="btn btn-primary right" ng-click="cr.addComment(myComment.content, myComment.isPublic, 2); myComment.content=''" href="">Submit</a>

							<input type="checkbox" ng-model="myComment.isPublic" /> Send message to {{single.name}}
						</div>
					</div>
				</div>
			</main>
			
			<!-- @todo show next/prev -->
			<aside>
				<div class="moc-info">
					<div class="color">
						<i class="fa fa-heart-o"></i> {{ single.votes }} likes
					</div>
					<div>
						<span class="right"><a href="#">Live Site</a></span>
						<i class="fa fa-user"></i> <a href="#">{{ single.name }}</a>
					</div>	
					<div>
						<span class="right">{{ ui.getTime(single.submitTime) }}</span>
						<i class="fa fa-calendar"></i> {{ ui.getDate(single.submitTime) }}
					</div>
					
					<div ng-bind-html="getTagNames(single.tags)"></div>
				</div> <!-- /.moc-info -->

				<div class="moc-status">
					<div ng-if="entry_status>=1 && entry_status<=3">
						<a class="btn btn-pill btn-{{stat.classname}}" ng-class="{active: stat.id==single.status}" ng-click="single.status=stat.id; cr.addStatus(stat.id, 2)" href="" ng-repeat="stat in statii">{{stat.name}}</a>
					</div>

					<!-- @todo need to show 2nd/3rd place -->
					<div ng-if="entry_status>3">
						<div class="badge badge-success" ng-if="isThisPopular">
							First Place
						</div>
					</div>
				</div>
				
			</aside>

		</div>
	</section>
  
<!-- @include _footer -->
