<!-- $title - Help Center - Entries -->
<!-- $isactive-help class="active" -->
<!-- $body-meta class="blank" ng-controller="HelpQAController" -->
<!-- @include _header -->

	<nav class="subnav">
		<ul class="container">
			<li class="separator">&nbsp;</li>
			<li class="active">
				<ul class="menu">
					<li>
						<a href="#">Entries <i class="fa fa-angle-down pad-left"></i></a>
						<ul>
							<li><a href="@path helpcenter_qa">Questions &amp; Answers</a></li>
							<li><a href="@path helpcenter_ent">Entries</a></li>
							<li><a href="@path helpcenter_cat">Categories</a></li>
						</ul>
					</li>	
				</ul>
			</li>
			<li class="separator">&nbsp;</li>

			<li ng-class="{active: entryOrder == '-activeTime'}"><a ng-click="entryOrder='-activeTime'" href="#">Active</a></li>
			<li ng-class="{active: entryOrder == '-submitTime'}"><a ng-click="entryOrder='-submitTime'" href="#">Newest</a></li>

			<li class="right"><a class="btn" href="#">Add Entry</a></li>
		</ul>
	</nav>

	<section>

		<div class="container">
			<div class="lists">
				<div class="list-item" ng-repeat="entry in entries | orderBy:entryOrder">
					<ng-include src="'includes/hc_entry_item.html'"></ng-include>
				</div> <!-- /.list-item -->
			</div>
		</div> <!-- /.container -->

	</section>

	<!-- @todo show pagination -->
  
<!-- @include _footer -->
