
<!-- $title - MOC Page -->
<!-- $isactive-mocs class="active" -->
<!-- $body-meta class="blank" ng-controller="MocSingleController" -->
<!-- @include _header -->

	<nav class="subnav">
		<ul class="container">
			<li class="active"><a class="title" href="#">{{ getTitle(single.id) }}</a></li>	

			<li class="right"><a class="title" href="{{ getStatusLink(single.status) }}">{{ getStatus(single.status) }}</a></li>
		</ul>
	</nav>

	<section>
		<div class="container">	
			<div class="col-twothird">
				
				<img src="{{ui.imageLink(single.id)}}">

				<p>{{ ui.lorem }}</p>

				<p>{{ ui.lorem }}</p>

				<h2>Activity Stream</h2>

				<div class="thincomment">
					<div class="date">Aug 19 2014, 11:31 am</div>
					<p>Designer published MOC to be displayed.</p>
				</div>
				<div class="thincomment">
					<div class="date">Aug 19 2014, 11:31 am</div>
					<p>Designer submitted MOC to be reviewed.</p>
				</div>

				<div class="thincomment danger" ng-if="single.status<=1">
					<div class="date">Aug 19 2014, 11:36 am</div>
					<p>This MOC did not get approved due to 2 issues.</p>
				</div>
				<div class="thincomment" ng-if="single.status<=1">
					<div class="date">Aug 19 2014, 11:42 am</div>
					<p>Designer re-submitted MOC to be reviewed.</p>
				</div>
				
				
				<div class="thincomment success" ng-if="single.status==2 || single.status==3">
					<div class="date">Aug 19 2014, 11:36 am</div>
					<p>This MOC has been approved!</p>
				</div>

				<div class="thincomment success" ng-if="single.status==3">
					<div class="date">Aug 19 2014, 11:36 am</div>
					<p>Dad's AFOL picked up this MOC! </p>
				</div>

				<div class="thincomment danger" ng-if="single.status==4">
					<div class="date">Aug 19 2014, 11:42 am</div>
					<p>This MOC has been banned.</p>
				</div>

				<div class="comment" ng-if="single.status<=1">
					<div class="comment_wrapper">
						<div class="feedback">
							<strong ng-class="{'text-danger': myComment.content1}">Photo Quality</strong>
							<textarea placeholder="List issues here" ng-model="myComment.content1"></textarea>
						</div>

						<div class="feedback">
							<strong ng-class="{'text-danger': myComment.content2}">Content</strong>
							<textarea placeholder="List issues here" ng-model="myComment.content2"></textarea>
						</div>

						<div class="feedback">
							<strong ng-class="{'text-danger': myComment.content3}">Parts List</strong>
							<textarea placeholder="List issues here" ng-model="myComment.content3"></textarea>
						</div>
					</div>
					<div class="comment_wrapper">
						<div class="content">
							
							<strong ng-class="{'text-danger': numIssues()}">{{ numIssues() }} <ng-pluralize count="numIssues()" when="{'one': 'Issue', 'other': 'Issues'}"></ng-pluralize> </strong>

							<div class="right" ng-switch="numIssues()" ng-if="single.status==1">
								<a ng-switch-when="0" class="btn btn-success" href="">Approve!</a>	
								<a ng-switch-default class="btn btn-danger" href="">Submit Issues to Designer</a>	
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- @todo show next/prev -->
			<div class="col-third panelet right">
				<div class="card" ng-class="{active: cards.actions}">
					<p class="header all-caps"><i ng-click="cards.actions = (cards.actions) ? false : true" class="fa fa-plus hover right"></i>Actions</p>
					<p class="clearfix">
						<a class="btn btn-featured" ng-class="{active: single.isFeatured}" ng-click="single.isFeatured=!single.isFeatured" href=""><i class="fa fa-thumb-tack pad-right"></i> Featured</a>
						<a class="btn btn-rejected" ng-class="{active: single.status == 4}" ng-click="single.status = 4" href="">Ban</a>
					</p>
				</div> <!-- /.card -->

				<div class="card" ng-class="{active: cards.info}">
					<p class="header all-caps"><i ng-click="cards.info = (cards.info) ? false : true" class="fa fa-plus hover right"></i>Info</p>
					<p class="color">
						<span class="right">{{ single.raters }} reviews</span>
						<span ng-bind-html="getRatings(single.id, false)"></span>
					</p>
					<p class="color"><i class="icon fa fa-heart-o"></i> {{ single.votes }} requests</p>
					<p class="color">
						<span class="right">{{ single.parts }} parts</span>
						<i class="icon fa fa-smile-o" ng-if="single.issues<1"></i> 
						<i class="icon fa fa-meh-o" ng-if="single.issues>=1"></i> 
						{{ single.issues }} issues
					</p>
					<p>
						<span class="right"><a href="{{ getLiveLink() }}">Live Site</a></span>
						<i class="icon fa fa-user"></i> <a href="#">{{ single.name }}</a>
					</p>
					<p>
						<span class="right">{{ ui.getTime(single.submitTime) }}</span>
						<i class="icon fa fa-calendar"></i> {{ ui.getDate(single.submitTime) }}
					</p>
				</div> <!-- /.card -->

				<div class="card" ng-class="{active: cards.tags}">
					<p class="header all-caps"><i ng-click="cards.tags = (cards.tags) ? false : true" class="fa fa-plus hover right"></i>Tags</p>
					<p ng-bind-html="getTagNames(single.tags)"></p>
				</div> <!-- /.card -->

				<div class="card" ng-class="{active: cards.avail}">
					<p class="header all-caps"><i ng-click="cards.avail = (cards.avail) ? false : true" class="fa fa-plus hover right"></i>Available in Stores</p>
					
					<!-- Store 1 -->
					<p class="line">
						<div>
							<strong class="right">$15.00</strong>
							<strong><a href="#">Legolopolis</a></strong>	
						</div>
					</p>

					<!-- Store 2 -->
					<p class="line">
						<div>
							<strong class="right">$18.00</strong>
							<strong><a href="#">Minifigforlife</a></strong>	
						</div>
					</p>
				</div> <!-- /.card -->
				
				<div class="card" ng-class="{active: cards.stores}">
					<p class="header all-caps"><i ng-click="cards.stores = (cards.stores) ? false : true" class="fa fa-plus hover right"></i>Stores Able to Part In</p>
					
					<!-- Store 1 -->
					<p class="line">
						<div>
							<strong class="right text-success">{{ single.parts }}/{{ single.parts }}</strong>
							<strong><a class="text-success" href="#">BrickStory</a></strong>	
						</div>
					</p>

					<!-- Store 2 -->
					<p class="line">
						<div>
							<strong class="right">{{ single.parts - 1 }}/{{ single.parts }}</strong>
							<strong><a href="#">Dad's AFOL</a></strong>	
						</div>
						<div>
							Missing: <a href="#">16082</a>
						</div>
					</p>

					<!-- Store 3 -->
					<p class="line">
						<div>
							<strong class="right">{{ single.parts - 4 }}/{{ single.parts }}</strong>
							<strong><a href="#">Lord of the Brick</a></strong>	
						</div>
						<div>
							Missing: <a href="#">16082</a>, <a href="#">5008</a>, <a href="#">28099</a>, <a href="#">35106</a>
						</div>
						<div>
							<span class="badge badge-danger">Not in MOC Shop</span>
						</div>
					</p>
				</div> <!-- /.card -->

			</div>

		</div>

		<div class="pane right"></div>
	</section>
  
<!-- @include _footer -->
