
<!-- $title - MOC Page -->
<!-- $isactive-mocs class="active" -->
<!-- $body-meta class="blank" ng-controller="MocController" -->
<!-- @include _header -->

	<nav class="subnav">
		<ul class="container">
			<li class="active"><a class="title" href="#">{{ getTitle(single.id) }}</a></li>	

			<li class="right"><a class="title" href="#">{{ getStatus(single.status) }}</a></li>			
		</ul>
	</nav>

	<section>
		<div class="container">	
			<main>
				
				<img src="{{ui.imageLink(single.id)}}">

				<p>{{ ui.lorem }}</p>

				<p>{{ ui.lorem }}</p>

				<h2>Activity Stream</h2>

				<div class="thincomment">
					<div class="date">Aug 19 2014, 11:31 am</div>
					<p>Designer submitted MOC to be reviewed.</p>
				</div>
				<div class="thincomment success">
					<div class="date">Aug 19 2014, 11:36 am</div>
					<p>This MOC has been approved!</p>
				</div>
				<div class="thincomment danger">
					<div class="date">Aug 19 2014, 11:36 am</div>
					<p>This MOC did not get approved due to 2 issues.</p>
				</div>
				<div class="thincomment">
					<div class="date">Aug 19 2014, 11:42 am</div>
					<p>Designer re-submitted MOC to be reviewed.</p>
				</div>
				<div class="thincomment danger">
					<div class="date">Aug 19 2014, 11:42 am</div>
					<p>This MOC has been rejected.</p>
				</div>

				<div class="comment">
					<div class="comment_wrapper">
						<div class="feedback">
							<strong ng-class="{'text-danger': myComment.content1}">Photo Quality</strong>
							<textarea placeholder="List issues here" ng-model="myComment.content1"></textarea>
						</div>

						<div class="feedback">
							<strong ng-class="{'text-danger': myComment.content2}">Content</strong>
							<textarea placeholder="List issues here" ng-model="myComment.content2"></textarea>
						</div>

						<div class="feedback">
							<strong ng-class="{'text-danger': myComment.content3}">Parts List</strong>
							<textarea placeholder="List issues here" ng-model="myComment.content3"></textarea>
						</div>
					</div>
					<div class="comment_wrapper">
						<div class="content">
							
							<strong ng-class="{'text-danger': numIssues()}">{{ numIssues() }} <ng-pluralize count="numIssues()" when="{'one': 'Issue', 'other': 'Issues'}"></ng-pluralize> </strong>

							<div class="right" ng-switch="numIssues()">
								<a ng-switch-when="0" class="btn btn-success" href="">Approve!</a>	
								<a ng-switch-default class="btn btn-danger" href="">Submit Issues to Designer</a>	
							</div>
							

							<!-- 
							<a class="btn btn-primary right" ng-click="cr.addComment(myComment.content, myComment.isPublic, 1); myComment.content=''" href="">Submit</a> -->
							<!-- <a class="btn right" href="">Cancel</a> -->
						</div>
					</div>
				</div>
			</main>
			
			<!-- @todo show next/prev -->
			<aside>
				<div class="moc-info">
					<!-- <div>
						<a class="btn btn-pill btn-{{stat.classname}}" ng-class="{active: stat.id==single.status}" ng-click="single.status=stat.id; cr.addStatus(stat.id, 1)" href="" ng-repeat="stat in statii | limitTo: 5">{{stat.name}}</a>
					</div> -->
					<div class="clearfix">
						<a class="btn btn-featured" ng-class="{active: single.isFeatured}" ng-click="single.isFeatured=!single.isFeatured" href="">Featured</a>
						<a class="btn btn-featured" ng-class="{active: single.isPinned, 'btn-disabled': !single.isFeatured}" ng-click="single.isPinned=!single.isPinned" href="">Pin to top</a>
						<a class="btn btn-rejected" ng-class="{active: single.isRejected}" ng-click="single.isRejected=!single.isRejected" href="">Reject</a>
					</div>	

					<div class="color">
						<span class="right">{{ single.raters }} reviews</span>
						<span ng-bind-html="getRatings(single.id, false)"></span>
					</div>
					<div class="color">
						<i class="fa fa-heart-o"></i> {{ single.votes }} requests
					</div>
					<div class="color">
						<span class="right">{{ single.parts }} parts</span>
						<i class="fa fa-smile-o" ng-if="single.issues<3"></i> 
						<i class="fa fa-meh-o" ng-if="single.issues>=3 && single.issues<6"></i> 
						<i class="fa fa-frown-o" ng-if="single.issues>=6"></i> 
						{{ single.issues }} issues
					</div>
					<!-- @todo show dollar amount and stores for those "in stores" -->
					<div>
						<span class="right"><a href="#">Live Site</a></span>
						<i class="fa fa-user"></i> <a href="#">{{ single.name }}</a>
					</div>	
					<div>
						<span class="right">{{ ui.getTime(single.submitTime) }}</span>
						<i class="fa fa-calendar"></i> {{ ui.getDate(single.submitTime) }}
					</div>
<!-- 					<div>
						<i class="fa fa-credit-card"></i> {{ single.fee }}%
					</div> -->
					
					<!-- @todo tags need to be editable -->
					<div ng-bind-html="getTagNames(single.tags)"></div>
				</div> <!-- /.moc-info -->
				
			</aside>

		</div>
	</section>
  
<!-- @include _footer -->
