
<!-- $title - MOC Page -->
<!-- $isactive-mocs class="active" -->
<!-- $body-meta class="blank" ng-controller="MocController" -->
<!-- @include _header -->

	<nav class="subnav">
		<ul class="container">
			<li class="active"><a class="title" href="#">{{ getTitle(single.id) }}</a></li>			
		</ul>
	</nav>

	<section>
		<div class="container">	
			<main>
				
				<img src="{{ui.imageLink(single.id)}}">

				<p>Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Curabitur blandit tempus porttitor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

				<p>Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

				<h2>Activity Stream</h2>

				<div class="comment" ng-repeat="comment in comments">
					<ng-include src="'includes/comment.html'"></ng-include>
				</div>
				<div class="comment">
					<div class="comment_wrapper">
						<div class="avatar"><img src="{{ui.avatarLink(3)}}" /></div>
						<div class="content">
							<div class="headerline">
								<span class="badge right" ng-show="!myComment.isPublic">Private</span>
								<strong>Abe Yang</strong>
							</div>
							<div>
								<textarea placeholder="{{getMsg()}}"></textarea>	
							</div>
							<a class="btn btn-primary right" href="#">Submit</a>
							<a class="btn right" href="#">Cancel</a>
							<input type="checkbox" ng-model="myComment.isPublic" /> Send message to designer
						</div>
					</div>
				</div>

			</main>
			
			<!-- @todo show next/prev -->
			<aside>
				<div class="moc-info">
					<div class="color">
						<span class="right">{{ single.raters }} reviews</span>
						<span ng-bind-html="getRatings(single.id, false)"></span>
					</div>
					<div class="color">
						<i class="fa fa-heart-o"></i> {{ single.votes }} requests
					</div>
					<div class="color">
						<span class="right">{{ single.parts }} parts</span>
						<i class="fa fa-smile-o" ng-if="single.issues<3"></i> 
						<i class="fa fa-meh-o" ng-if="single.issues>=3 && single.issues<6"></i> 
						<i class="fa fa-frown-o" ng-if="single.issues>=6"></i> 
						{{ single.issues }} issues
					</div>
					<!-- @todo show dollar amount and stores for those "in stores" -->
					<div>
						<span class="right"><a href="#">Live Site</a></span>
						<i class="fa fa-user"></i> <a href="#">{{ single.name }}</a>
					</div>	
					<div>
						<span class="right">{{ ui.getTime(single.submitTime) }}</span>
						<i class="fa fa-calendar"></i> {{ ui.getDate(single.submitTime) }}
					</div>
					<div>
						<i class="fa fa-credit-card"></i> {{ single.fee }}%
					</div>
					
					<!-- @todo tags need to be editable -->
					<div ng-bind-html="getTagNames(single.tags)"></div>
				</div> <!-- /.moc-info -->

				<div class="moc-status">
					<!-- <h3>Update Status</h3> -->
					<div>
						<a class="btn btn-pill btn-{{stat.classname}}" ng-class="{active: stat.id==single.status}" ng-click="single.status=stat.id" href="" ng-repeat="stat in statii">{{stat.name}}</a>
					</div>
					<div>
						<a class="btn btn-pill btn-featured" ng-class="{active: single.isFeatured}" ng-click="single.isFeatured=!single.isFeatured" href="">Featured</a>
						<a class="btn btn-pill btn-featured fadeable" ng-class="{active: single.isPinned, hide: !single.isFeatured}" ng-click="single.isPinned=!single.isPinned" href="">Pin to top</a>

					</div>	
				</div>
				
			</aside>

		</div>
	</section>
  
<!-- @include _footer -->
