<!-- $title - MOCs -->
<!-- $isactive-mocs class="active" -->
<!-- $body-meta ng-controller="MocController" -->
<!-- @include _header -->

<!-- @todo REDO WHOLE CONCEPT! -->
<!-- Should be Inbox | Featured | Pending | Rejected, maybe along with All | Unobserved (or smtg) -->
<!-- Should also have descriptions with each view -->

<!-- @todo zero states: what does it look like? -->

	<nav class="subnav mocs-nav">
		<ul class="container">
			<li class="mocs-nav-{{ getStatus(stat.id) }}" ng-repeat="stat in statii" ng-class="{active: filterCards.status === stat.id }"><a ng-click="filterCards.status=stat.id" href="#">{{ getStatus(stat.id) }}</a></li>
			<li ng-class="{active: filterCards.status === ''}"><a ng-click="filterCards.status=''" href="#">All</a></li>

			<li ng-class="{active: entryOrder == '-ratings'}" class="right"><a ng-click="entryOrder='-ratings'" href="#">Most Popular</a></li>
			<li ng-class="{active: entryOrder == '-submitTime'}" class="right pad"><a ng-click="entryOrder='-submitTime'" href="#">Recent</a></li>
			<li class="right separator">&nbsp;</li>
		</ul>
	</nav>

	<section>
		<div class="container">

			<div class="moc-item" ng-repeat="moc in mocs | filter:filterCards | orderBy:entryOrder">
				<ng-include src="'includes/moc_item.html'"></ng-include>
			</div> <!-- /.moc-item -->

		</div> <!-- /.container -->
	</section>

	<!-- @todo show pagination -->
  
<!-- @include _footer -->
