<!-- $title - MOCs -->
<!-- $isactive-mocs class="active" -->
<!-- $body-meta ng-controller="MocController" -->
<!-- @include _header -->

<!-- @todo show sort filters (date, # parts, etc) -->

	<nav class="subnav">
		<ul class="container">
			<li ng-class="{active: filterCards.status === 0 && filterCards.isFeatured == ''}"><a ng-click="filterCards.status=0; filterCards.isFeatured=''" href="#">{{ getStatus(0) }}</a></li>
			<li ng-class="{active: filterCards.status == 1}"><a ng-click="filterCards.status=1; filterCards.isFeatured=''" href="#">{{ getStatus(1) }}</a></li>
			<li ng-class="{active: filterCards.status == 2}"><a ng-click="filterCards.status=2; filterCards.isFeatured=''" href="#">{{ getStatus(2) }}</a></li>
			<li ng-class="{active: filterCards.status == 3}"><a ng-click="filterCards.status=3; filterCards.isFeatured=''" href="#">{{ getStatus(3) }}</a></li>
			<li ng-class="{active: filterCards.isFeatured == true}"><a ng-click="filterCards.status=''; filterCards.isFeatured=true" href="#">Featured</a></li>
			<li ng-class="{active: filterCards.status === '' && filterCards.isFeatured == ''}"><a ng-click="filterCards.status=''; filterCards.isFeatured=''" href="#">(All)</a></li>
		</ul>
	</nav>

	<section>
		<div class="container">
			
			<!-- @todo ratings stars -->

			<div class="moc-item" ng-repeat="moc in mocs | filter:filterCards">
				<div class="card">
					<div class="featured" ng-if="moc.isFeatured"><i class="fa fa-heart-o"></i></div>
					<div class="line">
						<span class="right"><i class="fa fa-comment-o"></i> {{ moc.comments }}</span>
						{{ moc.ratings }} stars ({{ moc.raters }})
					</div>
					<div class="moc-image">
						<a href="moc.html#/{{moc.id}}"><img src="../assets/images/cover_{{moc.id}}.jpg"></a>
					</div>
				</div>

				<a class="title" href="moc.html#/{{moc.id}}">{{ getTitle(moc.id) }}</a>
			</div> <!-- /.moc-item -->

		</div> <!-- /.container -->
	</section>

	<!-- @todo show pagination -->
  
<!-- @include _footer -->