@import "neat/neat";

// VARIABLES

// -- Color
$white: #fff;
$softgray: #f7f7f5;
$lightestgray: #eee;
$lightergray: #ccc;
$lightgray: #aaa;
$gray: #999;
$black:	#222;
$color_link: #0090ff;

// -- Box Model
$nav_width: 100px;
$margin: 40px;
$pad: 10px;
$radius: 5px;

// -- Typography
$source: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$small: 0.75em;

// LAYOUT

html {
  height: 100%;
  background-color: $softgray;
}

html, body, h1, h2, h3, h4, h5, h6, div, p {
	font-family: $source;
	color: $black;
}
h1, h2, h3 {
	font-weight: 300;
}
h1 {
	padding-bottom: $pad;
	margin-bottom: $pad*2;
	border-bottom: 1px solid $lightestgray;
}
/*h2 { margin-top: $margin; }*/

a {
	color: $color_link;
	text-decoration: none;
}

section {
	margin-left: $nav_width;
	margin-top: $margin;
}

img { max-width: 100%; }

// COMPONENTS

// -- Navigation
#nav {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: $nav_width;
	text-align: center;
	background-color: $black;

	ul { padding-left: 0; }

	li {
		border-left: 3px solid $black;
		border-right: 3px solid $black;
		margin-bottom: 5px;

		a {
			display: block;
			padding-top: $pad;
			padding-bottom: $pad;
			font-size: $small;
			color: $gray;
		}

		.fa { 
			display: block; 
			margin-bottom: 5px;
		}

		&.active {
			border-left-color: $color_link;

			a { color: $white; }
		}
	}
}

.subnav {
	float: right;
	margin-top: -11px;

	li {
		float: left;
		padding: $pad $pad 15px;

		a { 
			color: $lightgray; 
			&:hover { color: $color_link; }
		}

		&.active { 
			border-bottom: 1px solid $black; 

			a { color: $black; }
		}
	}
}

// -- Others

.container {
	@include outer-container;

	main {
		@include span-columns(8);
	}

	aside {
		@include span-columns(4);
		@include omega();
	}

	.content { padding: $pad $pad*2 $pad*2; }
}

/* legacy code */
/*
.moc-item.line {
	@include span-columns(12);
	padding-top: $pad;
	padding-bottom: $pad;
	border-bottom: 1px solid $lightestgray;

	.moc-image {
		@include span-columns(1);
		height: 75px;
		background-color: $lightgray;
	}

	.moc-content {
		@include span-columns(11);

		.moc-title {
			@include span-columns (4 of 11);

			a { 
				color: $black; 

				&:hover { color: $color_link; }
			}
		}
		.moc-fees {
			@include span-columns (3 of 11);
		}
		.moc-parts {
			@include span-columns (4 of 11);
			@include omega();
			text-align: right;
		}
		.moc-byline {
			// @include span-columns (4);
			color: $lightgray;
		}
		.tags {
			margin-top: 5px;
		}
		.tag {
			border: 1px solid $lightestgray;
			padding: 3px 8px;
			border-radius: 20px;
			font-size: $small;
			color: $lightgray;
		}
	}
}
*/

.card {
	border: 1px solid $lightergray;
	border-radius: $radius;
	background-color: $white;
	margin-bottom: $pad*2;
}

.moc-item.card {
	@include span-columns(4);
	@include omega(3n);

	
	overflow: hidden;

	.moc-image {
		height: 180px;
		background-color: $lightestgray;
		overflow: hidden;
	}

	h3 a { 
		color: $black; 

		&:hover { color: $color_link; }
	}

	.moc-content {
		padding: $pad 2*$pad;
	}

	.moc-info {
		> div {
			padding: $pad 2*$pad;
			border-top: 1px solid $lightestgray;
			font-size: $small;
			color: $lightgray;

			&.line {
				padding: 0;
				@include row(table);
			}

			span {
				@include span-columns(1 of 3);
				@include pad();
				padding-left: 2*$pad;

				&.moc-fees {
					border-left: 1px solid $lightestgray;
					border-right: 1px solid $lightestgray;
				}
				&.moc-parts {
					@include reset-display;
				}
			}
		}
		
		i { margin-right: $pad; }
	}
}

.breadcrumbs {
	@include span-columns(12);

	border-top: 1px solid $lightestgray;
	padding-top: $pad;
	margin-top: $pad*2;

	color: $lightergray;

	a {
		color: $gray;
		text-decoration: underline;
	}
	span { 
		margin-left: $pad;
		margin-right: $pad;
		color: $lightestgray; 
	}
}


// MEDIA QUERIES

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  
  /* Styles for mobile */

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  /* Styles for tablet */

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

  /* Don't forget your Retina CSS! */
  
  body {
    background-size: 72px 72px;
  }

}