@import "neat/neat";

// VARIABLES

// -- Color
$white: white;
$softgray: #f7f7f5;
$lightestgray: #eeeeee;
$lightergray: #cccccc;
$lightgray: #aaaaaa;
$gray: #999999;
$darkgray: #666;
$darkergray: #444;
$offblack: #333539;
$black: #222222;

$blue: #44A3EC;
$green: #2eab00;
$purple: #b249ff;
$red: #ff1c00;
$orange: #ff7700;
$yellow: #ffca00;
$lightblue: lighten($blue, 10);
$lighterblue: #daedfb;
$lightestblue: #ecf6fd;
$lightorange: lighten($orange, 10);
$lighterorange: lighten($orange, 20);
$lightgreen: desaturate(lighten($green, 20), 40);

$color_link: $orange;
$color_success: $green;
$color_info: $blue;
$color_warning: $orange;
$color_danger: $red;

$color_display: $purple;
$color_pending: $blue;
$color_approved: $green;
$color_rejected: $red;

// -- Box Model
$thumb_width: 140px;
$thumb_height: 220px;
$circle: 70px;
$margin: 40px;
$pad: 10px;
$radius: 5px;

// -- Typography
$source: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$small: 0.85em;


// MIXINS

@mixin navbutton($color) {
    color: $color;
    border-color: rgba($color, 0.4);
    
    &:hover { border-color: rgba($color, 1.0); }
    &.btn-disabled { 
        opacity: 0.4;
        &:hover { border-color: rgba($color, 0.4); }
    }
}

@mixin filledbutton($color) {
    color: $white;
    border-color: transparent;
    background-color: $color;
}

@mixin status($color) {
    border-left: 2px solid $color;

    strong { color: $color; }
}

@mixin badge($color) {
    color: $color; 
    border: 1px solid $color;
    background-color: transparent; 
}

@mixin alert($color) {
    //border-color: $color;
    //background-color: lighten($color, 45);
    p { color: $color; }
}

// LAYOUT

html {
    height: 100%;
}

body {
    //margin-bottom: $margin;
    background-color: $softgray;
    &.blank {
        background-color: $white;
    }
}

html, body, h1, h2, h3, h4, h5, h6, div, p {
    font-family: $source;
    color: $black;
}
html, body, div, p, input, textarea {
    font-weight: 300;
    line-height: 1.4;
}

h1, h2 {
    font-weight: 700;
    font-size: 1em;
}
h2 {
    margin-top: $margin;
    padding-bottom: $pad;
    &.line {
        border-bottom: 1px solid $lightestgray;
    }
}
h3, h4 {
    font-weight: 200;
    font-size: 1.25em;
    line-height: 1.4;
}

small {
    font-size: $small;
    color: $lightgray;
}

a {
    color: $color_link;
    text-decoration: none;
    @include transition(opacity 0.3s ease-in-out, border-color 0.3s ease-in-out);

    &.underline { text-decoration: underline; }
}

.text-success { color: $color_success; }
.text-info { color: $color_info; }
.text-warning { color: $color_warning; }
.text-danger { color: $color_danger; }
.text-dull { color: $lightgray; }

.align-right { text-align: right; }

.pad-left { padding-left: 3px; }
.pad-left-10 { padding-left: $pad; }
.pad-right { padding-right: 3px; }
.pad-top { padding-top: $pad; }
.margin-right { margin-right: 3px; }
.unmargin-top { margin-top: -20px; }
.margin-top { margin-top: $margin; }
.margin-bottom { margin-bottom: 20px; }

section {
    margin-top: $margin;

    &.nomargin { margin-top: 0; }
}

section.blank {
    background-color: $white;
}

img {
    max-width: 100%;
}

.right {
    float: right;
}

// HELPER ASSETS

.badge {
    padding: 2px 6px;
    font-size: $small;
    text-transform: uppercase;
    color: $white;
    background-color: $lightestgray;

    &.badge-clear { @include badge($gray); }
	&.badge-warning { @include badge($color_warning); }
	&.badge-success { @include badge($color_success);  }
	&.badge-danger { @include badge($color_danger); }
}

.truncate {
    @include span-columns(4 of 4);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hover {
    cursor: pointer;
}

// -- Forms

.form {
    padding: $pad;
    margin-bottom: $pad;
    border-radius: $radius;
    border: 1px solid $lightergray;
}

input, textarea {
    @extend .form;
}

textarea {
    width: 100%;
    height: 100px;

    &.tall { height: 200px; }
    &.short { height: 60px; }
}

.btn {
    @extend .form;
    padding-top: $pad/2;
    padding-bottom: 7px;
    @include navbutton($darkergray);
}

.btn-pill {
    display: block;
    text-align: center;
}

.btn-primary { @include navbutton($color_link); }
.btn-success { @include navbutton($color_success);}
.btn-danger { @include navbutton($color_danger);}

.btn-disabled, a.btn-disabled {
	opacity: 0.25;
}

.form-group {
    label {
        margin-bottom: $margin;
    }
    input {
        display: block;
        width: 100%;
    }
}


.subnav {
	.btn {
        @include navbutton($white);
        padding: $pad/2 $pad;
        background-color: transparent;
        opacity: 1.0;
	}
	.btn-danger {
		@include navbutton($red);
	}
    .btn-warning, .btn-primary {
        @include navbutton($orange);   
    }
    .btn-success {
        @include navbutton($green);   
    }
}

.mocs-nav li {
    border-bottom: 2px solid transparent;
}


// COMPONENTS

// -- Navigation
.navlink {
    font-size: $small;
    font-weight: 600;
    text-transform: uppercase;
    color: $white;
    opacity: 0.4;

    &:hover { opacity: 1.0; }
}

nav {
    > ul {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;

        > li {
            float: left;
            padding: $pad * 2;

            &:first-child {
                padding-left: 0;
            }
            &.title {
                padding-left: $pad*2;
                border-left: 1px solid $darkergray;
                border-right: 1px solid $darkergray;
            }
            &.right {
                padding-right: 0;
                padding-left: $pad;

                &.pad {
                    padding-right: $pad*2;
                    padding-left: $pad*2;
                }
            }
            &.small {
                font-size: $small;
                padding-left: 0;
                padding-top: 18px;
            }
            &.separator {
                border-left: 1px solid $darkergray;
                padding-left: 0;
                padding-right: 0;
            }

        }
    }
}

#nav {
    background-color: $black;
    li#logo {
    	padding-top: 14px;
    	padding-bottom: 0;

    	img { max-width: 30px; }
    }
    li.active a { opacity: 1.0; }
    a { @extend .navlink; }
}

.subnav {
    background-color: $offblack;
    > ul > li {
        padding: $pad * 1.5 $pad * 2;

        &.active a { opacity: 1.0; }
    }
    a { @extend .navlink; font-weight: 400; }
}

.updatebar {
	margin-top: -$pad*2;

	ul {
		padding-bottom: $pad;
		margin-bottom: $pad*2;
		border-bottom: 1px solid $lightestgray;
	}
	li {
		padding-left: 0;
	}
}

.clearfix {
    @include clearfix;
}

/* Taken from dropit.css (for dropdown menu) */
/* These styles assume you are using ul and li */
.dropit {
    list-style: none;
    padding: 0;
    margin: 0;


    // @todo need to separate current design (subnav) with a generic design
    // @todo need on-hover effects
    .dropit-trigger { position: relative; }
    .dropit-submenu {
        position: absolute;
        top: 100%;
        left: -$pad*2; /* dropdown left or right */
        display: none;
        padding: $pad $pad*2;
        margin: $pad 0 0;
        min-width: 200px;
        border: 1px solid $darkergray;
        list-style: none;
        z-index: 1000;
        background-color: $offblack;

        li {
            padding: $pad/2 0;
            a { text-transform: none; }
        }
    }
    .dropit-open .dropit-submenu { display: block; }
}

// -- Alerts
.alert {
    // ...
}

// -- Others

.container {
    @include outer-container;

    position: relative; 

    main {
        @include span-columns(8);
    }
    aside {
        @include span-columns(4);
        @include omega;
        
        ul { margin: 0; padding: 0; }
        li { list-style-type: none; }

        &.line {
            border-left: 1px solid $lightestgray;
            padding-left: $pad*2;
        }

    }
    .content {
        padding: $pad $pad * 2;
    }

    .col-half {
        @include span-columns(6);
    }
    .col-third {
        @include span-columns(4);
    }
    .col-twothird {
        @include span-columns(8);   
    }
}

.pane {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 33%;
    background-color: $lightestblue;
    z-index: -1;

    &.right {
        right: 0;
    }
    &.left {
        left: 0;
    }
}
.panelet {
    padding-top: $margin;
    padding-bottom: calc(100% - 580px);
    
    background-color: $lightestblue;
    border-style: solid;
    border-color: $lightestgray;
    border-width: 0;

    &.right {
        padding-left: $margin;
        border-left-width: 1px;
    }
    &.left {
        padding-right: $margin;
        border-right-width: 1px;
    }
}

.table {
    width: 100%;

    tr {
        &.hover:hover, &.active {
            background-color: $lightestblue;
        }
    }

    th, td {
        padding: $pad;
    }
    td {
        border-top: 1px solid $lighterblue;
    }
    th {
        text-align: left;
        border-bottom: 2px solid $lighterblue;

        &.align-right { text-align: right; }
    }

}

.sidecomment {
    @include clearfix;
    margin-bottom: $pad;
    font-size: $small;

    .avatar {
        float: left;
        width: 48px;
        height: 48px;
        margin-right: $pad;
    }

    a { 
        color: $black;
        text-decoration: underline;
    }

}

.thincomment {
    @include clearfix;
    border-top: 1px solid $lightergray;
    padding: $pad 0;

    p { 
        float: left; 
        margin: 0;
    }
    .date {
        float: right;
        font-size: $small;
        color: $darkgray;
        opacity: 0.5;
    }
    &:last-of-child { 
        border-bottom: 1px solid $lightergray;
    }

    &.success { @include alert($color_success); }
    &.danger { @include alert($color_danger); }
}

.comment {
    @include span-columns(8 of 8);
    border-top: 1px solid $lightestgray;
    
    .avatar {
        @include span-columns(1 of 8);
        height: 58px;
    }
    .headerline {
        margin-bottom: -1em;
        color: $lightergray;

        strong { color: $black; }
    }
    .byline {
        margin-top: -0.5em;
        margin-bottom: 1em;
    }
    .content {
        // @include span-columns(7 of 8);
        padding: 0;
    }
    .btn {
        margin-left: $pad;
    }

    div.feedback {
        @include span-columns(4 of 12);
        padding-left: 0;
        list-style-type: none;

        &:last-of-type { 
            @include omega(); 
        }

        > label { font-weight: bold; }

        li { margin-left: $pad*2; }
    }
}

.comment_wrapper { 
    @include clearfix;
    padding-top: $pad*1.5; 
    padding-bottom: $pad*1.5; 
}
.status_wrapper {
    padding: $pad;
    color: $lightergray;

    &.status_display { @include status($color_display); }
    &.status_pending { @include status($color_pending); }
    &.status_approved { @include status($color_approved); }
    &.status_rejected { @include status($color_rejected); }
}

.card {
    border: 1px solid $lightergray;
    border-radius: $radius;
    background-color: $white;
    overflow: hidden;
}

.mark { 
    position: absolute; 

    .fa-circle { 
        position: relative;
        left: 5px; 
        color: $color_info;
    }
}

.staff-mark {
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 0;
    border-color: transparent $lighterorange transparent transparent;
    font-size: $small;
    color: $white;

    i, span {
        position: relative;
        right: -17px;
    }
}

.simple {
    display: block;
    height: $thumb_height;
    background-color: $darkgray;
    overflow: hidden;
}

.moc-item {
    @include span-columns(4);
    @include omega(3n);
    margin-bottom: $margin;
    
    .card {
        position: relative;

        &.selected {
        	border-color: $lightorange;
        }
    }

    .moc-image {
        @extend .simple;
        margin-top: $margin;
    }
    .title {
        @extend .truncate;
        margin-top: $pad;
        color: $black;
        &:hover {
            color: $color_link;
        }
        input {margin-right: $pad/2; }
    }
    .line {
        width: 100%;
        padding: $pad;
        color: $lightergray;
        border-top: 1px solid $lightestgray;

        &.top {
        	padding-top: 0;
        	padding-bottom: 0;
        	border-top: none;
        	/*border-bottom: 1px solid $lightestgray;*/
        }
    }
    .moc-tags {
    	@extend .truncate;
    }

    // @todo add on-hover states (maybe?)
    .simple {
        position: relative;

        h4 { display: none; }
        .info {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: $pad $pad $pad/2;
            color: $white;
            @include background-image(linear-gradient(transparent 0, rgba($black, 0.35) 100%));

        }
        .misc { 
            float: right;
            color: $white; 
        }
        .extra {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            padding-top: $thumb_height/3;
            
            &.winner { background-color: rgba($color_success, 0.5); }
            &.pending { background-color: rgba($color_pending, 0.6); }
            &.rejected { background-color: rgba($color_rejected, 0.75); }

            h4 { 
                display: block;
                text-align: center;
                font-size: 2em;
                color: $white; 
            }
            .info {
                background-image: none;
                /*background-color: rgba($lightorange, 0.5);*/
            }
        }
    }

}

.moc-info-section {
    padding: $pad 0;
    border-top: 1px solid $lightestgray;
    color: $lightgray;
}

.moc-info {
    font-size: $small;

    > div {
        @extend .moc-info-section;
    }
    a { 
        color: $lightgray; 
        border-bottom: 1px solid $lightestgray;
    }
    i, input {
        margin-right: $pad;
    }
    ul {
        margin: 0;
        padding-left: 0;
        list-style-type: none;
    }
    .color {
        .fa-star { color: $lightorange; }
        .fa-heart-o { color: $red; }
    }

    font-size: $small;

    .btn {
        @include span-columns(2 of 4);
        border-color: $black;
        background-color: transparent;
        text-align: center;
    }
    .btn.active {
        &.btn-display { @include filledbutton($color_display); }
        &.btn-pending { @include filledbutton($color_pending); }
        &.btn-approved { @include filledbutton($color_approved); }
        &.btn-rejected { @include filledbutton($color_rejected); }
        &.btn-featured { @include filledbutton($orange); }
    }

    .btn.btn-disabled, .btn.btn-disabled.active { 
        border-color: $gray;
        color: $black;
        background-color: transparent;
    }

    .badge {
        text-align: center;
        padding-top: $pad;
        padding-bottom: $pad;
    }
}

.tag-item {
	@include span-columns(4);
    @include omega(3n);
    margin-bottom: $margin;
	border-bottom: 1px solid $lightestgray;
    
    a { 
    	display: block;
    	padding-bottom: $pad;
    	color: $black; 
    }
    .count { color: $lightergray; }
}

.hairline { 
    position: relative;
    top: 1px;
    height: 1px;
    background-color: $gray; 
}

.lists {
    /*margin-top: $pad*2;*/
    margin-bottom: $margin;
}

.col-twothird .block {
    max-width: 530px;
}

.table-grid .list-item {
    float: left;
    width: 50%;
    height: 150px;
    overflow: hidden;
    
    &:nth-child(even) { border-left: none; }
    &:nth-last-child(2) { border-bottom: 1px solid $lightestgray; }
}
.list-item {
    @include clearfix;
    position: relative;
    display: block;
    border: 1px solid $lightestgray;
    border-bottom: none;

    &:last-child { border-bottom: 1px solid $lightestgray; }

    .block {
        padding: $pad*2;

        &.thumb {
            width: $thumb_width;
            height: $thumb_width*0.66;
            padding: 0;
            overflow: hidden;
            background-color: $lightestgray;

            img { max-width: $thumb_width; }
        }
        &.no-pad-right { padding-right: 0; }

        &.circle {
            width: $circle;
            height: $circle;
            margin: $pad $pad*2 $pad 0;
            padding: 0;
            border-radius: $circle/2;
            border: 1px solid $lightestgray;
            font-size: $small;

            h3 { 
                margin-top: $pad*1.5; 
                line-height: 1;
            }

            &.answered {
                border-color: transparent;
                background-color: $lightgreen;
            }
            &.answered, &.answered h3 { color: $white; }
        }
    }

    .right .block {
        text-align: center;
    }

    .hairline { background-color: $blue; }
}
.block { 
    float: left; 
    color: $lightergray;

    a { color: $lightergray; }

    h3, h3 a { color: $black; }
}

.category {
    @include span-columns(3);
    @include omega(4n);

    margin-bottom: $margin;
    padding: $pad;
    border: 1px solid $lightestgray;

    h3 a { color: $black; }
    .main { 
        margin-top: $pad; 
        height: 100px;
    }
    .labels {
        font-size: $small;
        color: $lightgray;
    }
}

.dashboard_fees {
    @include span-columns(3 of 8);
}
.dashboard_orders {
    @include span-columns(5 of 8);
}

a.metric {
    display: block;
    float: left;
    width: 50%;
    margin-bottom: $pad*2;

    span { color: $lightgray; }
    h2 { 
        margin-top: 0;
        font-size: 4em; 
        line-height: 0.8;
    }
}

// MEDIA QUERIES

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles for mobile */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles for tablet */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    /* Don't forget your Retina CSS! */
    body {
        background-size: 72px 72px;
    }
}