<div class="comment_wrapper" ng-if="comment.status===''">
	<div class="avatar"><img src="{{ui.avatarLink(comment.id)}}" /></div>
	<div class="content">
		<div class="headerline">
			<span class="badge badge-clear right" ng-if="!comment.isAdmin">Designer</span>
			<span class="badge right" ng-if="!comment.isPublic">Private</span>
			<strong>{{ comment.name || single.name}} <span class="comment_msg">{{comment.status}}ed this MOC</span></strong> on {{ ui.getDateTime(comment.submitTime) }}
		</div>
		<p>{{ comment.content }}</p>
	</div>
</div>

<div class="status_wrapper status_{{ getStatusClass(comment.status) }}" ng-if="comment.status!==''">
	<strong>{{ getStatus(comment.status) }}</strong> (status set by {{ comment.name }})
</div>