<!-- @todo need to show marks of staff updates -->
<div class="right">
	<div class="block circle">
		<h3>{{ entry.answers }}</h3>
		Comments
	</div>
	<div class="block circle">
		<h3>{{ entry.views }}</h3>
		Views
	</div>
</div>

<div class="block">
	<h3><a href="#/{{entry.id}}">{{ entry.title }}</a></h3>
	<span ng-if="entryOrder != '-submitTime'">Last commented by {{ entry.lastUpdater }} on {{ entry.activeTime }} </span>
	<span ng-if="entryOrder == '-submitTime'">Submitted by {{ entry.name }} on {{ entry.submitTime }} </span>
</div>
