<!-- @todo need on-hover effects -->
<a class="simple" ng-class="{'highlight': moc.lastUpdatedByDesigner}" href="{{ getLink(moc.id) }}">
	<div class="mark notification"><i class="fa fa-circle"></i></div>
	<div class="mark staff-mark" ng-if="moc.isFeatured && moc.status!=4"><i class="fa fa-thumb-tack" ng-if="moc.isPinned"></i></div>

	<div class="info">
		<div class="misc">
			<i class="fa fa-heart-o"></i> {{ moc.votes }}
			<span class="pad-left" ng-bind-html="getRatings(moc.id)"></span></div>
		
		<span ng-if="filterCards.status===0 && moc.isRejected" class="text-danger">Rejected</span>
		<span ng-if="filterCards.status===1 || filterCards.status===2">{{ moc.issues }} issues</span>
		<span ng-if="filterCards.status===3">{{ moc.stores }} stores</span>
	</div>

	<img src="{{ui.imageLink(moc.id)}}">
</a> <!-- /.simple -->
